body {
    color: #172939;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.brand,
.sub-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    color: #3b9f56;
    margin: 0;
}

.react-toggle-switch.react-toggle--checked .react-toggle-track {
    background: #3b9f56;
}

.app-container {
    min-height: 100vh;
    transition: color ease-out 0.5s;
}

.theme-dark {
    background: #0a151f;
    color: #f9f9f9;
}

    .theme-dark blockquote {
        color: #9f9f9f;
    }

    .theme-dark hr {
        background: #727272;
    }

.theme-light {
    color: #172939;
    background: #f9f9f9;
}

a {
    color: #3b9f56;
}

.bio-container {
    display: flex;
    flex-direction: column;
}

.bio {
    display: flex;
    align-items: center;
}

.bio-text {
    margin: 0;
    max-width: 300px;
    font-size: 0.9em;
}

.bio-pic {
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
}

.bio-pic img {
    border-radius: 50%;
    margin: 0;
}

.social-media {
    font-size: 0.9em;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
}

.post-title {
    margin-top: 0;
    font-size: 1.5rem;
}

footer {
    text-align: center;
}

@media only screen and (min-width: 540px){
    .brand {
        font-size:2.8rem;
    }

    .bio-container {
        flex-direction: row;
        align-items: center;
    }

    .social-media {
        margin-top: 0;
        align-items: center;
        justify-content: flex-end;
    }

    .post-title {
        font-size: 1.8rem;
    }
}